{{nav-bar logout="logout"}}

<div class="container-fluid">
	<div class="row">
		{{search-box}}
	</div>

	<div class="row">
		{{#workers-table}} {{#each model.workers as |worker|}}
		<tr>
			<td>{{worker.username}}</td>
			<td>{{worker.isAvailable}}</td>
			<td>{{worker.jobCount}}</td>

		</tr>
		{{/each}} {{/workers-table}} {{#jobs-table}} {{#each model.jobs as |job|}}
		<tr>
			<td>{{job.assignedTo}}</td>
			<td>{{job.location}}</td>
			<td>{{job.status}}</td>
		</tr>
		{{/each}} {{/jobs-table}}
	</div>
</div>
